[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/anhdat1024
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anhdat1024
	label-Verified = -1..+1 group user/anhdat1024
	push = group user/anhdat1024
	read = group user/anhdat1024
	rebase = group user/anhdat1024
	removeReviewer = group user/anhdat1024
	submit = group user/anhdat1024
[access "refs/heads/*"]
	create = group user/anhdat1024
	push = +force group user/anhdat1024
	pushMerge = group user/anhdat1024
	read = group user/anhdat1024
[access "refs/tags/*"]
	push = group user/anhdat1024
	push = +force group user/anhdat1024
